.spaceship-container {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    animation: float 3s ease-in-out infinite;
}

.spaceship-container img {
    width: 200px;
    height: auto;
    transition: transform 0.3s;
}

.spaceship-container img:hover {
    transform: scale(1.1);
}


@keyframes float {
    0% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
    50% {
        transform: translatey(-10px);
        transform: translatex(-20px);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
}