/* General styles */
.app-container {
    text-align: center;
    background-image: url('/src/assets/space-background.webp');
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 100vh;
    padding: 20px;
    position: relative;
}

.app-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Add a subtle overlay */
    z-index: 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px #000;
    position: relative;
    z-index: 1;
}



.task-status {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2rem;
    color: red;
}

.task-complete {
    color: green;
}

.notebook-container {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.notebook-container img {
    width: 100px;
    height: 100px;
}

.notebook-container img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.notebook-shake {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.party-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
    text-align: center;
}

.party-screen h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.party-screen button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #0a84ff;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background 0.3s;
}

.party-screen button:hover {
    background-color: #0066cc;
}